.App {
    display: grid;
    grid-gap: 20px;
    min-height: 100vh;
}

/*Tablette*/
@media screen and (min-width: 425px) {
    .App {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

}

/*Ecran Moyen desktop*/

@media screen and (min-width: 768px) {


}

/*Ecran Large desktop*/

@media screen and (min-width: 1200px) {


}

.date {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}